---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	pubDate={new Date('March 31 2026')}
>
	<p>
		Hi, I'm Roberto — an experienced engineering and technology leader in Boston, MA. Over the course of my career I've 
		been fortunate to work across companies of various sizes (as small as 4 people to as large as 100,000 people), while
		working closely with some really amazing individuals on very rewarding projects. I started this site as an avenue
		for tinkering with technology and tools, as well as a way to encourage myself to work on my own writing and communication
		skills to keep creative juices flowing. 
	</p>

	<p>
		More personally, I'm a born and raised New Englander with Italian roots and ancestry. Life has given me the opportunity
		to live on both coasts of the US (18 years in Seattle WA while my kids were growing up), book ended by living in Massachusetts,
		where I currently live.   
	</p>
</Layout>
