---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to my site</h1>
			<p>
				This is my humble attempt to create a place for myself to encourage myself to write and share ideas and thoughts of mine.
				I have come in with no expectations that the writing here will be useful (or even interesting) for anyone but me, but if somoene does 
				find anything here useful and/or interesting, please feel free to reach out to me on Bluesky (link on the header and footer).
			</p>
		</main>
		<Footer />
	</body>
</html>
