---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to my site</h1>
			<p>
				This site is my attempt to create a place for me to write and share ideas, while also getting hands on with the mechanics of running a basic personal blog site.
				I have no expectations that the writing here will be useful (or even interesting) for anyone but me, but if somoene does 
				find anything here useful and/or interesting, please feel free to reach out to me on Bluesky (link on the header and footer).
				In case anyone is intetested in the site setup, its all running via <a href="https://www.cloudflare.com">Cloudflare</a> using <a href="https://astro.build/blog/">Astro</a>.  I write in <a href="https://word.cloud.microsoft/">Microsoft Word</a> (old habits die hard) and use <a href="https://pandoc.org/">pandoc</a> to convert the .docx files to .md files for publishing.
			</p>
		</main>
		<Footer />
	</body>
</html>
